html, body {
	position: relative;
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
}

.view {
	display: flex;
	justify-content: center;
	align-items: center;
}

.view h1 {
	margin: 0;
	padding: 50px;
	margin: 5px;
	font-size: 64px;
	transition: all .5s;
	background: #F9F9F9;
}
.view h1:hover {
	background: #DB2E3C;
	color: #FFF;
	transition: all .5s;
}

.header {
	position: absolute;
	top: 120px;

	font-family: "Raleway";
	font-size: 20px;
	letter-spacing: 4px;
	border-bottom: 1px solid #EEE;
}

.header h1 {
	margin: 0;
	padding: 0 0 30px;
}

.header h1 span{
	color: #999;
}

.footer {
	position: absolute;
	bottom: 50px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	color: #999;
}

.footer a {
	color: #777;
	text-decoration: none;
}

.footer i.fa {
	color: #DB2E3C;
	margin: 5px;
}